@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding:20px 2px 22px 43px;
    color:white;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
}

.header-trill{
    padding:17px 2px 20px 11px;
    color:white;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
}

.nav-linktrill{
    padding:20px;
    color:white !important;
    text-decoration: none;
}


ul li,.ulhome,.ilhome{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    color: blueviolet;
    margin-bottom: 0px;
}

ol li{
    list-style-type:circle;
    font-size: 20px;
    text-align: center;
    color: blueviolet;
    padding-bottom: 30px;
}

a{
    text-decoration: none;
    padding: 20px;
    color:white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.principal{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}    

.padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.col{
    padding: 20px 20px;
    text-align: center;
}

body{
    background-color:white
}

main{
    background-color:blueviolet;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

p{
    padding:30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color:white
}

.primerParrafo{
    font-style: italic;
    text-align:left;
    font-size: 32px;
    color:white;
    text-transform:uppercase;
}

h1{
    color:white;
    font-size: 32px;
    text-align:center; 
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    color: blueviolet;
    text-align:center; 
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    color: blueviolet;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4{
    color: white;
    text-align:center; 
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

h5{
    color: white;
    text-align:center; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 20px;
}

footer{
    padding:10px;
    background-color: blueviolet;
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

.redes{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.icon{
    width: 80px;
    height: 80px;
}

.services{
    width: 30%;
    height: 100%;
    display:inline-grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px;
    justify-content:center;
    gap: 6px;
    padding: 20px;
}

.imgservices{
    height: 124%;
    padding-left: 28%;
    width: 46%;
}

.consultancy-text{
    color: white;
    text-align:center; 
    font-size: 30px;    
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

form{
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px 0;

    color: white;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
}


* .carousel {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 10px;
  }

 * .carousel h2 {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }

 /*Carrousel Bootstrap*/
img.d-block.w-100 {
    filter: brightness(0.9);
  }
  
  @media (min-width: 1025px) {
    .d-sm-block {
      bottom: 2rem;
    }
  }
  @media (max-width: 769px) {
    .carousel-indicators {
      display: none;
    }
  
    .carousel-caption p {
      display: none;
    }


    .carousel-caption h5 {
      margin-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    a.navbar-brand {
      padding-left: 10px;
    }
  }
  @media (max-width: 575px) {
    .carousel-caption {
      bottom: -15px;
    }
  
    .d-sm-block {
      bottom: 0;
    }
  }

 /*Slider clientes*/

  .cont-princ .cont-princ-slider { 
    width: 97%;
    height: 200px;
    background: black;
    margin: auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.cont-princ-slider .degradado {
    position: absolute;
    z-index: 5;
    left: -1px;
    height: 105%;
}

.slider-prin {
    height: 100%;
    display: flex;
    flex-wrap: nowwrap;
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    animation: slider 20s infinite linear;
}

.cont-princ-slider .clientes-trill {
    height: 100%;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

@keyframes slider {
    to {
         left: -150%;
    }
}